.upfooter {
  height: 272px;
  width: 100vw;
  background-color: #e8d5b5;
  display: flex;
  flex-direction: row;
  padding-left: 110px;
  padding-right: 110px;
  justify-content: space-between;
}
.foo {
  width: 100vw;
  /* padding-top: 250px; */
}

#rightup {
  height: 44px;
  /* width: 100%; */
  left: 917px;
  top: 103px;
  font-family: Lato;

font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
}

#leftup {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.rav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* padding-top: 25px; */
  /* padding-left: 135 px; */
}

#box {
  padding: 14px 200px 13px 23px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#button {
  color: white;
  background-color: #0126a8;
  padding: 15px 16px 14px 18px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.getstart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  /* padding-top: 103px; */
  /* padding-left: 500px; */
}
#emailfont{
  font-size: 40px;
  color: blue;
}