@import url("https://fonts.googleapis.com/css?family=Karla");

* {
  margin: 0px;
  box-sizing: border-box;
  /* width: 100vw; */
}

.headernavprofile {
  /* height: 86px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 110px;
}
.gridImage {
  /* margin-top: auto; */
  width: 35px;
  height: 35px;
}
.gridImage img {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
}

.Leftheader {
  display: flex;
  flex-direction: row;
}

.Rightheader {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.border {
  background: rgba(0, 216, 172, 0.5);
  height: 171px;
  width: 100vw;
}
.home1 a {
  /* margin: 5%; */
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #494554;
  text-decoration: none;
  /* identical to box height */
  /* color: tomato; */
  /* color: #494554; */
}
.Righthhome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Righthgrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid {
  display: flex;
  flex-direction: row;
  width: 96px;
  height: 51px;
  justify-content: space-evenly;
  align-items: center;
  /* left: 1233px; */
  /* top: 25.5px; */

  background: #0126a8;
  border-radius: 20px;
  padding: 12px 24px;
}

/* .hamburger {
  background: #0126a8;
} */
.profilebutton {
  /* padding: 12px 24px 12px 24px; */
  background-color: #0126a8;
  /* padding: 0; */
  border: none;
  background: none;
  /* border-radius: 10px;
  color: white; */
  outline: none;
  cursor: pointer;
}
/* .poly1 {
  padding-top: 17px;
  padding-left: 135px;

  color: #0126a8;
  height: 55px;
}
.grid {
  padding-top: 24px;
  padding-left: 74px;
  padding-right: 111px;
  padding-bottom: 50px;
}

.home {
  padding: 36px 54px 20px 1200px;
}

.border {
  background-color: #00d8ac80;
  height: 171px;
  width: 100vw;
}

.ravimg {
  font-family: "Zeyada";
  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 75px;
  color: #0126a8;
  padding-top: 13px;
}

.profilebutton {
  padding: 12px 24px 12px 24px;
  background-color: #0126a8;
  border-radius: 10px;
  color: white;
} */
