@import url("https://fonts.googleapis.com/css?family=Zeyada");

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
  }

  .header{
   height:86px;
   display: flex;
   justify-content:row ;
   
  }

  .ravimg {
    font-family: "Zeyada";
    font-style: normal;
    font-weight: normal;
    font-size: 51px;
    line-height: 75px;
    color: #0126a8;
    padding-top: 13px;
  }

  .poly1{
    padding-top:17px ;
    padding-left: 135px;
    
    color: #0126a8;
    height: 55px;
    
    
  }
  .grid{
    width: 30%;
    padding-top:24px ;
    padding-left: 20px; 
    padding-right: 111px;
    padding-bottom:50px ;
  }
  
  .profilebutton{
    Padding: 12px 24px 12px 24px;
    background-color: #0126A8;
    border-radius:10px ;
  }
  .home{
    padding: 36px 54px 20px 880px;
  }
  
  .border{
    background-color:#00D8AC80; 
    height:171px;
    width:1440px;
  }
  
  .col2{
    height: 100px;
    padding-left: 725px;
    padding-top: 38px;
    
  
  } 

  .pic{
    position: absolute;
    padding-top:0px ;
    padding-bottom: 30px;
    padding-left:135px ;
    margin-top:-62px;
  }
  
  #hi{
    background-color:  #0126A8;
    text-align: center;
    color:white ;
    padding:10px 44px 9px 44px ;
    border-radius: 5px;
  }

  
   .centre1{
    height: 100px; 
   
  }

  .bio{
     padding:5px 5px 5px 5px; 
  }

  .view{
    padding:5px 10px 5px 5px;
    align-items: center;
  }
   
 
 /*.logo1{
    display: flex;
    flex-direction: row;
    width: 50%;
   } */

 /*.linkedin{
    padding-top:128px ;
     padding-bottom: 553px ;
     padding-left: 20px;
     
  } */
  
 /*.twitter{
    padding-top: 130px;;  
    padding-left: 135px;
    padding-bottom: 553px ;
    
  } */
  
  
 .container{
    display: flex;
    flex-direction: row;
}

.col1{
    padding-left: 450px;
    padding-top: 10px;
    
}


.view{
  padding-left:78px ;
}
  
  .designbutton{
    border: 2px solid #00BCC8;
    border-radius: 10px;
    padding: 9px 10px 8px 10px;
    display: inline-flex;
    justify-items:center;
  }
  
  .upfooter{
    height: 272px;
    width: 1440px;
    left: 0px;
    top: 1291px;
    border-radius: 0px;
  
    background-color: #E8D5B5;
    display: flex;
    justify-content: space-around; 
    
  }
  
  
  #rightup{
  height: 44px;
  width: 368px;
  left: 917px;
  top: 103px;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  }
  
  #leftup{
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  
  .about{
    border:none;
  }
  .rav{
    padding-top: 25px;
  }
  
  .getstart{
   padding-top:103px ;
  
  }
  
  
  #box{
    padding: 14px 200px 13px 23px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
  }
  #button{
   
    color:white ;
    background-color: #0126A8;
    padding: 15px 16px 14px 18px;
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .foot{
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    color: #0126A8;
   
    padding-left: 12px;
    padding-top: 29px;
    padding-bottom: 29px;
   
  
  }

  
  
  .clogo{
    padding-top: 23px;
    padding-bottom:30px ;
    padding-left: 135px;
  
  }

  .footer{
    display:flex;
    flex-direction: row;
    height: 80px;
  }
  