@import url("https://fonts.googleapis.com/css?family=Zeyada");

* {
  /* margin: 0; */
  box-sizing: border-box;
  /* padding: 0; */
}

.profile {
  width: 100%;
}
/*.logo1{
    display: flex;
    flex-direction: row;
    
   } */

/*.linkedin{
    padding-top:128px ;
     padding-bottom: 553px ;
     padding-left: 20px;
     
  } */

/*.twitter{
    padding-top: 130px;;  
    padding-left: 135px;
    padding-bottom: 553px ;
    
  } */
