.searchwologin {
  font-size: small;
  padding: 10px;
  border: solid 1px black;
  margin: 20px 10px;
  border-radius: 7px;
  width: 80%;
  display: block;
  margin-left: 160px;
}
.inputswologin .search-elementwologin {
  display: block;
}
.inputswologin {
  display: flex;
  align-items: center;
}
.search-elementwologin {
  width: 30%;
  position: relative;
  border-right: solid 1px rgb(85, 85, 85);
  margin: 0px 10px;
}
.last-elewologin {
  border-right: none;
}
.inputswologin button {
  background-color: white;
  padding: 10px 20px;
  border: solid 1px black;
  border-radius: 7px;
}
.search-elementwologin .last-elewologin input {
  padding: 5px 0px;
  border: none;
  outline: none;
  width: 100%;
}
.search-elementwologin .last-elewologin label {
  font-weight: bolder;
}

.peoplewologin {
  border: black;
  margin-right: 20px;
}
.peoplewologin img {
  width: 245px;
  height: 300px;
  border-radius: 20px;
}
.detailswologin {
  position: relative;
  top: -110px;
  left: 25px;
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.detailswologin a:link,
:visited {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.people-boxwologin {
  width: 80%;
  margin-top: 20px;
  margin-left: 170px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.top-mentorswologin {
  margin-left: 240px;
  color: #494554;
  font-size: 24px;
  line-height: 29.26px;
  font-style: normal;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.button-searchwologin {
  background-color: #0126a8;
  color: #ffffff;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}
.button1wologin {
  margin-left: 50%;
}
.find-mentorwologin {
  margin-left: 138px;
  width: 266px;
  height: 44px;
  color: #494554;
  font-size: 36px;
  line-height: 43.88px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.searchedwologin {
  background-color: white;
  position: absolute;
  width: 97%;
  margin: 0px -10px;
  border: solid 1px black;
  border-top: none;
  padding: 10px;
  z-index: 5;
}
.searchedwologin div {
  padding: 10px 0px;
  border-bottom: solid 1px black;
  width: 100%;
}
