.footfind {
  /* padding: 20px; */
  background-color: #494554;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  color: white;
  text-align: right;
  left: 0;
  cursor: pointer;
}
.hefind {
  margin-right: 260px;
}
.footfind div {
  width: 100%;
  padding: 20px 0px;
}
