<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <img src="images/Rav.svg" alt="">
                <ul class="nav-items">
                    <list>
                        <a href="#" class="meet">Meet Our Mentors</a>
                    </list>
                    <list>
                        <a href="#" class="contact">Contact Us</a>
                    </list>
                    <list>
                        <a href="#" class="login">Login</a>
                    </list>
                    <list class="signup">
                        <a href="#" class="signup-button">Signup</a>
                    </list>
                </ul>
            </nav>
        </div>
    </div>
    <div class="upper-body">
        <div class="upper-body-left">
            <h1>
                Find,Book and meet mentors Around the world!
            </h1>
            <p>
                Get guidance from the best , form our global community
            </p>
            <button class="btn-primary">
                Ask Questions
            </button>
        </div>
        <div class="upper-body-right">
            <img src="images/Croods Keeping in Touch.svg">
        </div>
    </div>
    <div class="middle-body">
        <div class="middle-body-left">

            <div style="background-image: url('./images/Rectangle 98.svg')">

            </div>
        </div>

        <div class="middle-body-right">
            <h1>
                How it works?
            </h1>
            <p>
                Rav is a community which helps you to clear your questions. with our mentors, who are experts in their field
            </p>
        </div>
    </div>
    <div class="lower-body">
        <div class="lower-body-left">
            <h1>What is in it for u?</h1>
            <p>
                Rav provides unique and trustworthy mentors so you don't need to worry about the ideas being stolen or replicated
            </p>
        </div>
        <div class="lower-body-right">

        </div>
    </div>
    <div class="testimony">

    </div>
    <div class="faq">
        <h1>
            FAQ
        </h1>
        <p>
            Find out how Rav helps you connect with the community
        </p>
        <list>
            <ul class="faq-list-1" style="background-image: url('./images/Rectangle\ 82.svg')">
                <p>
                    How is Rav diffrent from other platforms online?
                </p>
            </ul>
            <ul class="faq-list-2" style="background-image: url('./images/Rectangle\ 82.svg')">
                <p>
                    Are there any membership fee / subscription charges for joining?
                </p>
            </ul>
            <ul class="faq-list-3" style="background-image: url('./images/Rectangle\ 82.svg')">
                <p>
                    How introduction happen in Rav?
                </p>
            </ul>
        </list>
    </div>
    <div class="footer" style="background-image: url('./images/Rectangle_78.svg');height:400px;width:1440px">
        <div class="footer-left">
            <img src="images/Rav.svg">
            <h2>Revolutionizing the connection with the mentors around the world...</h2>
        </div>
        <div class="footer-right">
            <p>Create an account within minutes and get your queries solved</p>
            <input placeholder="Enter email address">
            <button>Get started</button>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>