.nav-container {
    position: absolute;
    width: 1440px;
    height: 77px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.meet {
    position: absolute;
    width: 158px;
    height: 25px;
    left: 791px;
    top: 26px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #494554;
}

.contact {
    position: absolute;
    width: 93px;
    height: 25px;
    left: 973px;
    top: 26px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #494554;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    position: absolute;
    width: 103px;
    height: 51px;
    left: 1105px;
    top: 9px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    position: absolute;
    width: 70px;
    height: 35px;
    left: 1224px;
    top: 9px;
    background: #0126A8;
    border-radius: 10px;
}

.signup-button {
    position: static;
    width: 55px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.upper-body-right img {
    position: absolute;
    width: 844px;
    height: 707.25px;
    left: 610px;
    top: 121px;
}

.upper-body-left h1 {
    position: absolute;
    width: 285px;
    height: 24px;
    left: 136px;
    top: 250px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */
    color: #494554;
}

.upper-body-left p {
    position: absolute;
    width: 355px;
    height: 70px;
    left: 138px;
    top: 321px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    color: #494554;
}

.middle-body-left img {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 136px;
    top: 968px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.upper-body-left button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    position: absolute;
    width: 270px;
    height: 59px;
    left: 138px;
    top: 457px;
    background: #0126A8;
    border-radius: 10px;
}

.middle-body-right h1 {
    position: absolute;
    width: 229px;
    height: 24px;
    left: 849px;
    top: 1222px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */
    color: #000000;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 400px;
    left: 0px;
    top: 3752px;
    background: #E8D5B5;
}

.faq h1 {
    position: absolute;
    width: 72px;
    height: 24px;
    left: 689px;
    top: 3223px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 24px;
    /* identical to box height, or 67% */
    color: #000000;
}

.faq p {
    position: absolute;
    width: 393px;
    height: 24px;
    left: 526px;
    top: 3263px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #000000;
}

.faq-list-1,
.faq-list-2,
.faq-list-3 {
    position: absolute;
    width: 930px;
    height: 60px;
    left: 264px;
    top: 3303px;
    background: #F7F7F7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.faq-list-2 {
    top: 3383px;
}

.faq-list-3 {
    top: 3463px;
}

.faq-list-1 p {
    position: absolute;
    width: 441px;
    height: 22px;
    left: 359px;
    top: 3322px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}

.faq-list-2 p {
    width: 509px;
    top: 3402px;
}

.btn-primary p {
    position: static;
    width: 137px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}