.navwologin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
}
.logowologin img {
  margin-top: 10px;
  margin-left: 180px;
  width: 100px;
}
.right-menuwologin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 140px;
  width: 30%;
}

.right-menuwologin button {
  padding: 10px 10px;
  border: solid 1px black;
  margin: 0px 10px !important;
  border-radius: 5px;
}
.right-menuwologin h6 {
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #494554;
  line-height: 24.59px;
}
.loginwologin {
  color: #000000;
  background-color: #ffffff;
}
.signupwologin {
  background-color: #0126a8;
  color: #ffffff;
}
